@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f1f5f8;
  min-height: 100vh;
}

.show{
  max-height: 500px;
  opacity: 1;
  margin-top: 1.5rem;
  /* max-h-[12]
    opacity-100;
    pt-6
  */
}